body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    height: 100vh
}

.navBar {
    width: 12%;
    min-width: 150px;
    background-color: lightslategrey;
    overflow-Y: auto;
    border-right: 1px solid #ccc;
    display: 'flex';
    flex-direction: 'column'
}

.navList {
    list-style-type: 'none';
    padding: 0;
    flex: 1;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center'
}

.navItem {
    margin-bottom: 10px;
    padding: 10px;
}

.navLink {
    color: #ffffff;
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline
}

.page-content {
    display: 'flex';
    text-align: start;
    margin: 0px 50px 50px;
    width: calc(100% - 100px);
}